				<div class="thumbnail card">
					<div class="caption card-body">
						<h4 class="group card-title inner list-group-item-heading" title="title">
							{{title}}
						</h4>
						<h6 title="category">{{category}}</h5>
						<h6 title="employee">{{employee}}</h5>
						<h6 title="reviews">{{reviews}}</h5>
						<p class="group inner list-group-item-text" title="description">
							{{description}}
						</p>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<p class="lead" title="price">
									€{{price}}
								</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<a class="btn btn-warning float-right" href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>
							</div>
						</div>
					</div>
				</div>
